{% extends "flights/layout.html" %}

{% block main %}

<h1>Flight {{flight.id}}</h1>
<ul>
    <li>Origin: {{flight.origin}}</li>
    <li>Destination: {{flight.destination}}</li>
</ul>

<h2>Passengers</h2>

<ul>
    {% for passenger in passengers %}
    <li>{{passenger.name}}</li>
    {% endfor %}
</ul>

<h2>Book</h2>

<form action=" {% url 'flights:book' flight.id %}" method="POST">
    {% csrf_token %}
    <select name="passenger_id" id="">
        {% for non_passenger in non_passengers %}
        <option value="{{non_passenger.id}}">{{non_passenger}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Book flight">

</form>




<a href=" {% url 'flights:list' %}">Back to list of flights</a>
{% endblock main %}